.new-habit-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  padding-top: 25.9rem;
  z-index: 1;
}

.new-habit-modal.show {
  opacity: 0;
  pointer-events: visible;
}

.new-habit-modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.new-event-modal.exit {
  opacity: 0;
}

.modal-content-habit-form {
  width: 470px;
  height: 22rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  border-radius: 1rem;
  margin: 0 !important;

}

.new-habit-modal.enter-done .modal-content-habit {
  transform: translateY(0);
}

.new-habit-modal.exit .modal-content-habit {
  transform: translateY(-200px);
}

.modal-header {
  padding-top: 1rem;
}

.modal-footer {
  padding: 10px;
  padding-bottom: 1.6rem;
}


.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefffe;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}

.modal-title-habit {
  font-size: 1.5rem;
  margin: 0.9rem 0 0.2rem 0;

}

input .modeal-title {
  text-align: center;
}

/* Check if this is working  */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}


.modal-body-habit {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  text-align: center;

}

.event-title-habit {
  text-align: center;
  margin: 20px 0 0 0;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: transparent;
}

.habit-title:focus {
  outline: none;
}

.habit-description {
  outline: none;
}

.event-title-habit::placeholder {
  opacity: 50%;
  font-weight: 400;
}


.main {
  text-align: center;
}

.habit-text {
  width: 12rem;
  margin-left: 1rem;
  padding-left: 0;
  margin-right: 2rem;
}

.habit-title-name {
  font-size: 1.4rem;
  color: black;
  font-family: 'Kanit';
  text-align: left;
  margin-top: -0.6rem;
  padding-left: 1.8rem;
  line-height: 1.3rem;
  margin-bottom: 0.2rem;
}

.habit-description-name{
  font-size: 1.2rem;
  color: rgb(129, 126, 126);
  font-family: 'Kanit';
  text-align: left;
  margin-top: 0.2rem;
  padding-left: 1.8rem;
  line-height: 1.3rem;
  margin-bottom: 0.2rem;

}


.habit-title {
  font-family: 'Kanit';
}

.habit-description {
  font-size: 1.1rem;
  opacity: 0.6;
  font-family: 'Kanit';
  text-align: left;
  margin-top: -0.3rem;
  padding-left: 0;
  padding-left: 1.8rem;
  text-align: center;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  padding: 0 1.5rem 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  width: 10rem;
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.favourite-habit-text {
  font-size: 1.2rem;
  font-weight: 300;
}

.habit-square {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.3rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  border-color: white;
  padding: 0.2rem;
}

.all-habits {
  align-items: center;
  justify-content: center;

}

.habit-list {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;

}

.daily-habits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.square {
  color: black;
}

.past-square {
  background-color: #d7d7e3;

}

.white {
  background-color: white;

}

.ticked-square {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.ticked-square::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 5px;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.ticked-square::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.achieved-text {
  font-weight: 400;
  margin-left: 4rem;
  margin-top: -0.3rem;
  margin-bottom: -2.2rem;

}

.days-done {
  font-size: 1.3rem;
  margin-left: 6rem;
  margin-right: -8rem;
  margin-top: 1rem;

}

.modal-footer-habit{
  padding: 0;
  margin-top: 0.5rem;
}

.submit-button-habit {
border-radius: 0.3rem;
border-color: rgb(197, 196, 196);
margin-right: 0.4rem;
padding: 0.2rem;
}

.close-button-habit {
  border-radius: 0.3rem;
  border-color: rgb(197, 196, 196);
  padding: 0.2rem;
}