.main {
  text-align: center;
}

.habit-text {
  width: 12rem;
  margin-left: 1rem;
  padding-left: 0;
  margin-right: 2rem;
}

.habit-name{
  font-size: 1.4rem;
  color: black;
  font-family: 'Kanit';
  text-align:left;
  margin-top: -0.6rem;
  padding-left: 1.8rem;
  line-height: 1.3rem;
  margin-bottom: 0.2rem;

}

.habit-description {
  font-size: 1.1rem;
  opacity: 0.6;
  font-family: 'Kanit';
  text-align: left;
  margin-top: -0.3rem;
  padding-left: 0;
  padding-left: 1.8rem;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.favourite-habit-text{
  font-size: 1.2rem;
  font-weight: 300;
}

.habit-square{
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.3rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
  border-color: white;
  padding: 0.2rem;
}

.all-habits{
  align-items: center;
  justify-content: center;

}

.habit-list {
  display: flex;
  justify-content: center;

  }
.daily-habits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.square{
  color: black;
}

.past-square{
  background-color: #d7d7e3;

}

.white{
  background-color: white;

}

.ticked-square{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.ticked-square::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 5px;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.ticked-square::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: white;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.achieved-text{
  font-weight: 400;
  margin-left: 4rem;
  margin-top: -0.3rem;
  margin-bottom: -2.2rem;

}

.days-done{
  font-size: 1.3rem;
  margin-left: 6rem;
  margin-right: -8rem;
  margin-top: 1rem;

}