.weather-component {
    text-align: right;
    margin-left: -3rem;
    margin-top: 0.3rem;
    padding: 0;
    display: flex;
}

.weather-image {
    margin-top: 0.5rem;
}

.temperature {
    color: rgb(105, 103, 103);
    display: inline-block;
    z-index: 10;
    margin-left: -2.5rem;
    padding-top: 0.9rem;
}