.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.welcome-message {
  font-size: 70px;
  font-weight: 500;
  margin: 10px;
}


.life-sync-title {
  font-size: 90px;
  font-family: "Frederika";
}


.App-header {
  background-color: #d4f3e4;
  /* background-image: url(/src/media/background.png); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */

  color: rgb(8, 67, 57);
}

.App-link {
  color: #0e9095;
}







@font-face {
  font-family: "Frederika";
  src: url("/public/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}


