    .react-calendar {
        display: inline-block;
        max-height: 36rem ;
        width: 470px;
        max-width: 100%;
        background-color: #fff;
        color: #222;
        border-radius: 8px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        line-height: 1.525em;
        padding: 1rem 1.5rem ;
      
      }
       
      .react-calendar__navigation button {
        color: #d4a713;
        min-width: 44px;
        background: none;
        font-size: 16px;
        margin-top: 6px;
      }
       
      .react-calendar__navigation button:enabled:hover,
      .react-calendar__navigation button:enabled:focus {
        background-color: #f8f8fa;
      }
      .react-calendar__navigation button[disabled] {
        background-color: #f0f0f0;
      }
      abbr[title] {
        text-decoration: none;
      }
       
      .react-calendar__month-view__days__day--weekend {
        color: #111010;
       }

       .react-calendar__tile {
        font-size: 1rem;
        max-width: 11vw;
        text-align: center;
        padding: 1.6rem 1rem 1.6rem 1rem;
        background-color: rgb(255, 255, 255);

      }
       
      .react-calendar__tile:enabled:hover,
      .react-calendar__tile:enabled:focus {
        background: #f8f8fa;
        color: #e6c24b;
        border-radius: 6px;
      }

       
      .react-calendar__tile--now {
        background: #d4a71333;
        border-radius: 6px;
        font-weight: bold;
        color: #d4a713;
      
      }
       
      .react-calendar__tile--now:enabled:hover,
      .react-calendar__tile--now:enabled:focus {
        background: #d4a71333;
        border-radius: 6px;
        font-weight: bold;
        color: #e6c24b;
      }
       
      .react-calendar__tile--hasActive:enabled:hover,
      .react-calendar__tile--hasActive:enabled:focus {
        background: #f8f8fa;
      }
       
      .react-calendar__tile--active {
        background: #e6c24b;
        font-weight: bold;
        color: white;
        border-radius: 30%;

      }
       
      .react-calendar__tile--active:enabled:hover,
      .react-calendar__tile--active:enabled:focus {
        background: #e6c24b;
        border-radius: 30%;
        color: white;
      }
       
      .react-calendar--selectRange .react-calendar__tile--hover {
        background-color: #f8f8fa;
      }
       
      .react-calendar__tile--range {
        background: #f8f8fa;
        border-radius: 0;
      }
       
      .react-calendar__tile--rangeStart {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #e6c24b;
      }
       
      .react-calendar__tile--rangeEnd {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #e6c24b;
      }

      .react-calendar__month-view__days__day--neighboringMonth {
        color: rgb(14, 13, 13);
        background-color: #F2F3F7;
      }


      .react-calendar__month-view__weekdays{
        text-transform: capitalize;
        font-size: 1.1rem;
        padding-bottom: 0.1rem;
      }


      .react-calendar__month-view__weekdays__weekday:nth-child(6), 
      .react-calendar__month-view__weekdays__weekday:nth-child(7) {
        color: rgb(236, 105, 105);
}

      .highlight{
        /* color: rgb(196, 112, 112); */
        border-radius: 0.1rem;
        background-color: #f7f0da;
      }

      .react-calendar__navigation button {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        
      }

      .react-calendar__month-view{
      align-items: center;
      align-content:space-around;
      }

      .react-calendar button {
        border: #D5D4DF 0.7px;
        border-style: solid;
      }

      .react-calendar__navigation button{
        border-style: solid;
        border: none;
      }

      .react-calendar__navigation{
        margin-bottom: 0.6rem;
      }



      
    
      

