/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 34px;
  height: 19px;
  left: 36px;
  top: 23px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #D4F3E4;



}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 290px;
}

/* General sidebar styles */
.bm-menu {
  font-family: 'Special Elite';
  background: rgba(255, 255, 255, 0.9);
  padding: 4.5em 3.6rem  2.5rem 1.2rem;
  font-size: 1.5rem;
  line-height: 3.3rem;
  overflow: hidden !important;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
  box-sizing:content-box;
  margin: 0;

}

.bm-item {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  white-space: nowrap;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  /* background: rgba(0, 0, 0, 0.1); */
}
