.event-component {
    margin: 1.3rem;
    padding-top: 0.4rem;
    height: 10vh;
    border-radius: 0.4rem;
    background-color: rgb(212, 223, 236);
}

.title-event {
   margin: 0;
   padding-top: 0.3rem;
}  

.description-event {
    color: rgb(160, 165, 170);
    margin: 0;
    padding-top: 1rem;
}