.event-component {
    display: inline-block;
    margin: 0.7rem 0 0 0;
    padding-top: 0.4rem;
    padding: 1rem 2rem;
    height: 10vh;
    width: 17vw;
    border-radius: 0.4rem;
    color: white;
    background-color: rgb(212, 223, 236);
    text-align: left;
}

.title-event {
    font-family:'Kanit';
    font-size: 1.2rem;
    margin: 0;
    margin-top: 0.7rem;
    font-weight: 500;
}  

.description-event {
    font-family:'Kanit';
    font-size: 1rem;
    margin: 0;
    margin-top: 0.4rem;
    font-weight: 400;
    /* color: rgb(194, 198, 201); */
}

.time-div {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hour-event {
    margin: 0;
}

.time-event {
    margin: 0;
}




