.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4.3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  backdrop-filter: blur(20px);
}

.top-banner {
  flex-direction: row;
  background-color: transparent;
  border-radius: 5px;
}

.greeting {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  color: #000000;
}

.greeting-weather-div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-right: 1.3rem;
}

.greeting-date-week {
  text-align: left;
  color: white;
  /* font-family: 'Special Elite'; */
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.1;
  padding: 0px 40px;
  align-items: center;
  margin: 0;
}