.events-wrapper {
    display: inline-block;
    margin-left: 0.6rem;
    width: 470px;
    height: 530px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.125em;
    padding-bottom: 1.2rem;
}

.div-today-week-events {
    padding-left: 1.7rem;
    display: flex;
    flex-direction: row;
}

.button-add-event-div {
    padding-right: 1.8rem;
    display: flex;
    flex-direction: row-reverse;
    
}

.button-add-event {
    color: white;
    background: #a667d0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8360c3, #7476ca); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ac6bd1, #7476ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 900;
    background-color: #7476ca;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    border:none
}

.today-button, .week-button {
    /* border-bottom: #fff;
    border-color: rgb(209, 209, 207);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #fff; */
    padding-top: 0.2rem;
    border: #fff;
    background-color: #fff;
}

.today-button, .week-button :active{
    border-bottom: 1px solid rgb(169, 166, 166);
    padding-bottom: 3px;
    padding: 0.4rem;
}

.today-button{
    margin-right: 0.3rem;
   

}

.week-button{
    
}